* {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
}


.imgLogo {
    margin-top: 10px;
    float: left;
    height: 75px;
    width: 600px;
}

.nav-item .nav-link {
    padding: 5px;
}
.nav-item input{
    padding: 10px;
    margin: 5px;
}
.nav-item input:hover{
    border: 3px solid deepskyblue;
    /*background-color: #5ee5e5;*/
}

.locale input[type="image"] {
    height: 40px;
    width: 60px;
    border-radius: 30%;
}
.myForm {
    border: 3px solid grey;
    max-width: 400px;
    height: 500px;
    padding: 30px;
    margin: 0 auto;
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
    margin-bottom: 20px;
}
.form-sign .checkbox {
    clear: both;
    font-weight: normal;
}
.form-sign .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-sign .field {
    clear: both;
    text-align: right;
    line-height:25px;
}
.form-sign a {
    clear: both;
    float: left;
}
.form-sign .form-control:focus {
    z-index: 2;
}
label {
    float: left;
    padding-right: 10px;
}
.form-sign input {
    float: right;
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-sign  .sign-in input{
    position: relative;
    float: left;
}
.form-sign input[name="form_submit"] {
    clear: both;
    float: left;
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-weight: bold;
}

/*tariffs*/
.myPanel {
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 0px 0px 4px #ccc;
    margin: 3%;
}
.myPanel .heading {
    display: inline;
    background: deepskyblue;
    border-radius: 10%;
    color: #2b669a;
}
.myPanel .body {
    padding: 10px 20px;
}
.myPanel .showOnClick {
    display: none;
}

